<div class="example-container" style="margin-left: 250px;">
    <form id="accesspanel" action=""  name="form"   #appForm="ngForm" (ngSubmit)="appForm.form.valid" 
    novalidate  class="app-form">
        <mat-form-field class="example-full-width">
        <mat-label>Select Client</mat-label>
        <mat-select  name="clientName" [(ngModel)]="form.clientName" #appForm="ngModel"
        (click)="clientNameInvalid = false" [ngClass]="{ 'is-invalid': clientNameInvalid }" required>
          <mat-option *ngFor="let clients of clientname" value={{clients.clientName}}>
            {{clients.clientName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <span *ngIf="clientNameInvalid" style="color: red;">Please Select Client</span>
      </div>
      <br>



    <mat-form-field class="example-full-width">
      <mat-label>Application Name</mat-label>
      <input matInput class="form-control" name="applicationName" [(ngModel)]="form.applicationName" #appForm="ngModel"
      (click)="applicationNameInvalid = false" [ngClass]="{ 'is-invalid': applicationNameInvalid }" required>
    </mat-form-field>
    <div>
      <span *ngIf="applicationNameInvalid" style="color: red;">Application Name is required</span>
    </div>
    <br>
   <!-- <mat-form-field appearance="fill">
        <mat-label>Logo</mat-label>
        <input matInput name ="logo" >
      </mat-form-field>-->

  
      
    <br>
  <mat-radio-group aria-label="Select Status" name="appActive" [(ngModel)]="form.active">
    <mat-radio-button for="appActive" *ngFor="let item of listStatus" [value]="item.value" [checked]="item.checked">{{item.name}}</mat-radio-button>
  </mat-radio-group>
  <br><br><br>
  <div class="example-button-row">
  
    <button mat-raised-button color="primary" (click)="doSaveApplication()">Save</button>
    <button mat-raised-button type="reset" color="primary" style="margin-left: 4px;">Cancel</button>
   
  
  </div>
  </form>
  </div>

  <div class="form-group">
    <div class="alert alert-danger" role="alert" *ngIf=message>
      <span style="color: red;">{{ message }}</span>
  
    </div>
  </div>


  

  <br><br>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
  <br>
  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" #mytable matSort>
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- ApplicationId Column -->
      <ng-container matColumnDef="applicationId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Application Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.applicationId}} </mat-cell>
      </ng-container>
    
<!-- ClientName Column -->
<ng-container matColumnDef="clientName">
  <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.clientName}} </mat-cell>
</ng-container>

      <!-- ApplicationName Column -->
      <ng-container matColumnDef="applicationName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Application Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.applicationName}} </mat-cell>
      </ng-container>
      
      <!-- Active Column -->
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.active}} </mat-cell>
      </ng-container>
    
       <!-- Action Column -->
       <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editApplication('Update',row)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
         
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">   </mat-row>
      </mat-table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
   
    </div>
  