<mat-card class="z-depth center" flex="50" >
<label style="font-size: xx-large;">Reset Password</label>
<br><br>
<form [formGroup]="registerForm" (ngSubmit)="f.form.valid && resetPassword()">


    <div class="form-row">
        <div class="form-group col-5">
        <mat-form-field>
          <mat-label>UserName</mat-label>
          <input matInput type="text"  formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" required>
          <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            
        </div>
        
        </mat-form-field></div></div>

    <div class="form-row">
  <div class="form-group col-5">
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input matInput type="password"  formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" required>
    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
      <div *ngIf="f.newPassword.errors.required">Password is required</div>
      <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
      <span class="text-danger"
                                *ngIf="f.newPassword.touched && f.newPassword.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </span>
  </div>
  
  </mat-form-field></div></div>
  <div class="form-row">
  <div class="form-group col">
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"  required>
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
  </div>
  
  </mat-form-field></div>
</div>
  </form>

  <button class="btn btn-primary mr-1" (click)="resetPassword()">Reset</button>
  
</mat-card>