<div class="example-container" style="margin-left: 250px;">
  <form id="accesspanel" action="" name="form"  #userForm="ngForm" (ngSubmit)="userForm.form.valid" novalidate class="role-form">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput class="form-control" name="userFirstName" [(ngModel)]="form.userFirstName" #userForm="ngModel"
          (click)="userFirstNameInvalid == false" [ngClass]="{ 'is-invalid': userFirstNameInvalid}" required>
        </mat-form-field>
        <div>
          <span *ngIf="userFirstNameInvalid" style="color: red;">Please enter FirstName </span>
      </div>
      </div>
      <br>

      <div class="col-md-2">
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput class="form-control" name="empLastName" [(ngModel)]="form.empLastName" #userForm="ngModel"
          (click)="empLastNameInvalid == false" [ngClass]="{ 'is-invalid': empLastNameInvalid}" required>
        </mat-form-field>
        <div>
          <span *ngIf="empLastNameInvalid" style="color: red;">Please enter LastName </span>
      </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
    <mat-form-field>
      <mat-label>Email Id</mat-label>
      <input matInput type="email" class="form-control" name="userEmail" [(ngModel)]="form.userEmail" #userForm="ngModel"
      (click)="userEmailInvalid == false" [ngClass]="{ 'is-invalid': userEmailInvalid}" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    </mat-form-field>
    <div *ngIf="userEmailInvalid">
      <span *ngIf="userEmailInvalid" style="color: red;">Please enter Email-ID </span>
      <span  *ngIf="userEmail.errors.pattern && userEmail.touched" style="color: red;">Please provide a valid email address</span>
  </div></div>
    <br>
   
      <div class="col-md-2">
    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input matInput class="form-control" name="userName" [(ngModel)]="form.userName" #userForm="ngModel"
      (click)="userNameInvalid == false" [ngClass]="{ 'is-invalid': userNameInvalid}" required>
    </mat-form-field>
    <div>
      <span *ngIf="userNameInvalid" style="color: red;">Please enter UserName </span>
  </div>
    <br></div></div>
    <div class="row">
      <div class="col-md-3">
    <mat-form-field>
      <mat-label>Select Application</mat-label>
      <mat-select name="application" [(ngModel)]="form.application" #userForm="ngModel" multiple
      (click)="applicationNameInvalid == false" [ngClass]="{ 'is-invalid': applicationNameInvalid}" required>
        <mat-option *ngFor="let apps of applicationname" value={{apps.applicationName}}>
          {{apps.applicationName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <span *ngIf="applicationNameInvalid" style="color: red;">Please Select Application</span>
  </div>
  </div>
    
    <div class="col-md-3">
      
      <mat-form-field>
        <mat-label>Select Role</mat-label>
        <mat-select  name="role" [(ngModel)]="form.role" multiple #userForm="ngModel"
        (click)="roleInvalid == false" [ngClass]="{ 'is-invalid': roleInvalid}" required>
          <mat-option *ngFor="let roles of role_name" value={{roles.roleName}}>
            {{roles.roleName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <span *ngIf="roleInvalid" style="color: red;">Please Select Role </span>
    </div>
    </div></div><br>



    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Select Client</mat-label>
          <mat-select  name="client" [(ngModel)]="form.client" #userForm="ngModel" multiple
          (click)="clientNameInvalid == false" [ngClass]="{ 'is-invalid': clientNameInvalid}" required>
            <mat-option *ngFor="let clients of clientname" value={{clients.clientName}}>
              {{clients.clientName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <span *ngIf="clientNameInvalid" style="color: red;">Please Select Client </span>
      </div>

        </div>
    
        <div class="col-md-4">
          <mat-radio-group aria-label="Select Status" name="userActive" [(ngModel)]="form.active">
            <mat-radio-button for="userActive" *ngFor="let item of listStatus" [value]="item.value" [checked]="item.checked">{{item.name}}</mat-radio-button>
          </mat-radio-group></div></div>
   <br>
    <div class="example-button-row" style="margin-left:174px;">

      <button mat-raised-button color="primary" (click)="doSaveUser()">Save</button>&nbsp;
      <button mat-raised-button type="reset" color="primary" style="margin-left: 4px;">Cancel</button>


    </div>
  </form>
</div>
<div class="form-group">
  <div class="alert alert-danger" role="alert" *ngIf=message>
    <span style="color: red; margin-left: 37px;">{{ message }}</span>

  </div>
</div>
<br><br>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>
<br>
<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" #mytable matSort>

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userFirstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userFirstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="empLastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.empLastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="userEmail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userEmail}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>
    <!-- application Column -->

    <ng-container matColumnDef="applicationName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Application Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.applicationName}} </mat-cell>
    </ng-container>

<!-- ClientName Column -->
<ng-container matColumnDef="clientName">
  <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.clientName}} </mat-cell>
</ng-container>

<!-- Role Column -->
<ng-container matColumnDef="roleName">
  <mat-header-cell *matHeaderCellDef mat-sort-header > Role </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.roleName}} </mat-cell>

</ng-container>
    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.active}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
          (click)="editUser('Update',row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="permission" >
      <mat-header-cell *matHeaderCellDef>Manage Permissions </mat-header-cell>
      <mat-cell *matCellDef="let row">
  
        <button mat-button matTooltip="Click to give permissions" class="" color="primary" [disabled]="row.active === 'Inactive'"
        (click)="editPermission('Update',row)">
        Give Permissions
      </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


</div>